<div class="well col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
  <h1>Sign In</h1>
  <%= form_for @user, url: sessions_path do |u| %>
  <div class="form-group row">
    <%= u.label :username, class: "col-form-label col-md-4" %>
    <div class="col-md-8">
      <%= u.text_field :username, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= u.label :password, class: "col-form-label col-md-4" %>
    <div class="col-md-8">
      <%= u.password_field :password, class: "form-control" %>
    </div>
  </div>
  <%= u.submit "Submit", class: "btn btn-default" %>
</div>
<% end %>
<div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-2 col-xs-offset-4">
  <h6>Not registered?</h6>
  <%= button_to 'Register', new_user_path, method: 'get', class: "btn btn-default" %>
</div>
