<h1>Group#new</h1>
<p>Find me in app/views/group/new.html.erb</p>
<div>
  <%= form_for @group, url: groups_path do |g| %>

    <%= g.label :name %>
    <%= g.text_field :name %>

    <%= g.submit 'Submit' %>

  <% end %>
</div>
<div>
  <%= form_for @group, url: groups_join_path do |g| %>

    <%= g.label :name %>
    <%= g.text_field :name %>

    <%= g.submit 'Submit' %>

  <% end %>
</div>
