<div class="group-page-container">
  <div class="group-info">
    <div class="col-md-6">
      <h1><%= @group.name %></h1>
    </div>
    <ul class="nav nav-pills">
      <li role="presentation" class="disabled"><a href="#">All Users: for <%= @group.name %></a></li>
      <% @group.users.each do |u| %>
      <li role="presentation"><%= link_to u.username %></li>
      <% end %>
    </ul>
    <div class="col-md-6">
    </div>
    <%= button_to 'Add Item', new_group_item_path(group_id: @group.id), class: "btn btn-default", method: 'get' %>
  </div>
  <div>
  <table class="table table-striped table-responsive">
    <tr>
      <th>Item</th>
      <th class="hidden-xs">Price</th>
      <th class="purchase-button">Purchased?</th>
    </tr>
    <% @items.each do |i| %>
    <tr>
      <td class="col-md-8"><%= i.name %><%= " - " if i.description && i.description.length > 0 %><%= i.description %></td>
      <td class="col-md-2 hidden-xs"><%= i.price %></td>
      <td class="col-md-2 purchase-button">
        <%= button_to "Purchased", drop_group_item_path(@group, i), class: "btn btn-default" %>
      </td>
    </tr>
    <% end %>
  </table>
  </div>
</div>
