<h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p>
<%= form_for @user, url: user_create_path do |u| %>

  <%= u.label :username %>
  <%= u.text_field :username %>

  <%= u.label :password %>
  <%= u.password_field :password %>

  <%= u.submit "Submit" %>

<% end %>
