<h1>Group#show</h1>
<p>Find me in app/views/group/show.html.erb</p>

<table class="table table-striped">
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  <% @items.each do |i| %>
  <tr>
    <td class="col-md-2"><%= i.name %></td>
    <td class="col-md-2"><%= i.description %></td>
    <td class="col-md-2"><%= i.price %></td>
  </tr>
  <% end %>
</table>


<%= button_to 'Join', group_index_path %>

<%= button_to 'Create', group_new_path %>
