<div class="group-page-container">
  <div class="group-info">
    <div class="col-md-6">
      <h1><%= @group.name %></h1>
    </div>
    <ul class="nav nav-pills">
      <li role="presentation" class="disabled"><a href="#">All Users: for <%= @group.name %></a></li>
      <% @group.users.each do |u| %>
      <li role="presentation"><%= link_to u.username %></li>
      <% end %>
    </ul>
    <div class="col-md-6">
    </div>
    <%= button_to 'Add Item', items_new_path, class: "btn btn-default" %>
  </div>
  <div>
  <table class="table table-striped">
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Purchased</th>
    </tr>
    <% @items.each do |i| %>
    <tr>
      <td class="col-md-8"><%= i.name %> - <%= i.description %></td>
      <td class="col-md-2"><%= i.price %></td>
      <td class="col-md-2">
        <%= button_to "Purchased", {controller: 'group', method: :post,
                                    item: i, group: params[:id]} %>
      </td>
    </tr>
    <% end %>
  </table>
  </div>
</div>
